/* global selectors */
body{
    font-family: roboto, arial, helvetica, sans-serif;
    background-color : black;
    margin: 0;
    box-sizing: border-box;
}







/* START welcome screen style */
.welcome-screen{
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items : center;
    justify-content: center;
}
.welcome-text {
    font-size: clamp(1.5em , 6vmin , 6vmin);
    color : white;
    font-weight : bold;
    text-align : center;
    margin-bottom: 10px;
}
.options-menu
{
    display : flex;
    justify-content : center;
    align-items : center;
    font-size : 4vmin;
    gap: 20px;
}
.options,
.start{
    color : black;
    font-weight: 600;
    background-color : lightgray;
    border-radius: 5px;
    padding : 10px;
    text-align : center;
    transition : transform 300ms ease-in-out;
    cursor: pointer;
}
.options:hover,
.start:hover{
    transform: scale(1.09);
    background-color : darkgray;
}
/* END welcome screen style */





/* START options screen style */
.options-screen{
    display: none;
    color: white;
    padding: 10px 35px;
    border-radius: 15px;
    align-items: center;
    height: 50vh;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto auto;
    width: fit-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    column-gap: 20px;
    background-color: #1E1E1E;
}
.options-screen > label{
    font-size: clamp(1.1em, 3.4vmin, 3.4vmin);
    font-weight: 600;
    text-align : right;
    text-transform: capitalize;
}

.start-game-btn{
    grid-column: 1/3;
    max-width: 150px;
    justify-self: center;
    font-size: clamp(1em, 2vmin, 2vmin);
    font-weight: 600;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}.start-game-btn:active{
    background-color: rgb(202, 202, 202);
    transform: scale(.94);
}

input, select{
    border: none;    
    border-radius: 10px;
    padding: 5px;
    font-size: 1.1em;
    outline: none;
}select{
    border-radius: 4px;
    cursor : pointer;
}


@media (max-width: 768px){
    /* all options-screen style created using css grid system*/
    .options-screen{
        grid-template-columns: 1fr;
        row-gap: 10px;
    }.options-screen > *{
        grid-column: 1/2;
    }.options-screen > label{
        text-align: left;
    }
}
/* END options screen style */









/*winner prompt selectors*/
.winner-prompt
{
    position : fixed;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%) scale(0);
    color : white;
    z-index : 10;
    width : 60%;
    height : 40%;
    background-color : rgb(133, 133, 133);
    display : flex;
    justify-content : center;
    align-items : center;
    border-radius : 5px;
    transition : 400ms ease-in-out;
    font-size : 44px;
    text-align : center;
}

.winner-prompt-active
{
    transform :translate(-50%, -50%) scale(1);
}

.overlay
{
    position : fixed;
    top : 0px;
    left : 0px;
    right : 0px;
    bottom : 0px;
    background-color : transparent;
    display : none;
    z-index : 9;
}

.overlay-active 
{
    display : block;
    background-color : rgba(0, 0, 0, 0.4);
    pointer-events : all;
}


/* board selectors */
.board-container
{
    width : 520px;
    height : 520px;
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
    background : black;

    border : 1px solid grey;
    display : none;
    flex-wrap : wrap;
}

.board-block
{
    width : 33.3333%;
    height : 33.3333%;
    box-sizing : border-box;
    border: 2px solid grey;
    background : transparent;
    color : white;
    background-color : black;
    transition : 150ms ease-in-out;
}

.board-block:hover
{
    background-color : rgb(29, 29, 29);
}

.marker-container
{
    width : 100%;
    height : 100%;
    display : flex;
    justify-content: center;
    align-items : center;
    font-size : 0px;
    font-weight : bold;
    transition : 300ms ease-in-out;
}

.marker-container-active
{
    font-size : 72px;
}




.marker-choices,
.opponent-choices
{
    width : 100%;
    display : flex;
    justify-content : center;
    align-items : center;
    gap : 15px;
    padding : 10px;
    text-align: center;
}


@media (max-width: 520px) , (max-height : 520px)
{
    /* board */
    .board-container
    {
        width : 300px;
        height : 300px;
    }

    .marker-container-active
    {
        font-size : 54px;
    }

    /*winner prompt*/
    .winner-prompt
    {
        font-size : 20px;
        height : 20%;
    }
}
